html, body, #home {
    height: 100%;
    
}

body {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    background: url(imagens/bursts.svg);
    background-position: 45% 16%;
    background-color: rgb(41, 65, 171);
    text-align: center;
}

.navbar {
    padding: 18px 50px;
    font-size: 16px;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #1ed760;
}

.divisor {
    width: 1px;
    background: #ffffff;
    margin: 12px 15px;
}

.btn-verde {
    background-color: #1ed760;
    color: rgb(41, 65, 171);
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    text-transform: uppercase;
    font-size: 15px;
    font-style: inherit;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    margin-top: 20px;
}

h1, p {
    color:#1ed760;
}

h1 {
    font-weight: 900;
    font-size: 110px;
    letter-spacing: 0.005em;
}

p {
    font-weight: 200;
    font-size: 18px; 
}

footer {
    height: 100%;
    background: #000;
    padding: 50px 20px;
    position: relative;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    
    position: relative;
}

footer h4 {
    color: #949196;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-bottom:10px;
    padding-left: 10px;
}

footer .navbar-nav a {
    color: white;
}

footer .navbar-nav a:hover {
    color: #1ed760;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 10px;
    padding-bottom:15px;
}

i {
    color: #949196;
    margin-top: 50px;
}

ol {
    text-align: end;
    list-style: none;
    font-size: 0.9em;
    color: #949196;
    padding-top: 50px;
}

footer ul.text li a {
    text-decoration: none;
    color: #949196;
}

ul.text {
    margin-top: 70px;
    font-size: 0.7em;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1 { font-size:3em;}

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }